$primary-100: #3F51B5;
$primary-200: #757de8;
$primary-300: #dedeff;
$accent-100: #FF4081;
$accent-200: #ffe4ff;
$text-100: #212121;
$text-200: #484848;
$bg-100: #F5F5F5;
$bg-200: #ebebeb;
$bg-300: #c2c2c2;

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: $bg-100;
  border-radius: 10px;

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: $bg-200;
    color: $text-100;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $primary-200;
    }

    &::placeholder {
      color: $text-200;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: $text-100;
    background-color: $primary-100;
    cursor: pointer;

    &:hover {
      background-color: $primary-200;
    }

    &:last-of-type {
      margin-top: 10px;
      background-color: $accent-100;

      &:hover {
        background-color: $accent-200;
      }
    }
  }
}