
// Define as variáveis de cor

$primary-100:#3F51B5;
$primary-200:#757de8;
$primary-300:#dedeff;
$accent-100:#FF4081;
$accent-200:#ffe4ff;
$text-100:#212121;
$text-200:#484848;
$bg-100:#F5F5F5;
$bg-200:#ebebeb;
$bg-300:#c2c2c2;

// Estilize o título
h2 {
  color: $primary-100;
  font-size: 32px;
  margin-bottom: 20px;
}

// Estilize a tabela
table {
  width: 100%;
  border-collapse: collapse;
  background-color: $bg-100;
  margin-bottom: 40px;

  th {
    background-color: $primary-200;
    color: $accent-100;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }

  td {
    background-color: $bg-200;
    color: $text-100;
    padding: 10px;

    &:nth-child(odd) {
      background-color: $bg-300;
    }
  }
}

// Estilize as células da tabela quando o mouse passar por cima
tr:hover td {
  background-color: $accent-200;
  color: $text-200;
}
