$primary-100: #3F51B5;
$primary-200: #757de8;
$primary-300: #dedeff;
$accent-100: #FF4081;
$accent-200: #ffe4ff;
$text-100: #212121;
$text-200: #484848;
$bg-100: #F5F5F5;
$bg-200: #ebebeb;
$bg-300: #c2c2c2;

h1 {
    color: $primary-300;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  
    a {
      color: $text-100;
      font-size: 1.5rem;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: $bg-100;
  
      &:hover {
        background-color: $bg-200;
      }
  
      &.active {
        background-color: $primary-100;
        color: $text-200;
  
        &:hover {
          background-color: $primary-200;
        }
      }
    }
  }
  
  router-outlet {
    margin-top: 2rem;
  }